header {
  color: midnightblue;
  text-shadow: 2px 2px white;
  font-size: 60px;
  font-weight: bold;
  font-family: fantasy;
}

.container-fluid-1{
  background-image: url("img/istockphoto-1301156172-170667a.jpg");
  background-size: cover;
}

h3 {
  color: white;
  text-shadow: 2px 2px midnightblue;
}

.carousel-inner img {
  margin: auto;
}

.introwriting {
  text-align: center;
}

.modal-body, .modal-title {
  color: black;
}

.collapse {
  color:white;
  font-family: sans-serif;
  text-shadow: 1px 1px black;
  text-align: center;

}
